
#text-topic{
  text-align:center;
  margin-top: 5%;
}

.main-contain1{
  margin-left: 20%;
}

input{
  margin-left: 23%;
}

img{
  width: 80px;
  border: 3px solid black;
  animation: allImages 5s;
  opacity: 0.4;

}

img:hover{ 
  animation: selectedImage 3s infinite;
  opacity:1.0;
}  
input{
  height: 70px;
  width: 300px;
  font-size: 40px;
  padding: 0px 20px;
  color: orange
}

span{
  padding: 0px 6px;
  font-size: 30px;
  color: blue;

}
.bottom-line{
  position: absolute;
  bottom:0px;
  font-size: 25px;
  padding: 5px ;

}

@keyframes allImages {
  0% { opacity: 1.0; }
  100% { opacity: 0.4; }
}

@keyframes selectedImage {
  0% { background-color: yellow; }
  50% { background-color: orange; }
  100% { background-color: yellow; }
}